@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121214;
  background-image: url(/assets/bg.svg);
  background-position-x: center;
  background-position-y: -715px;
  font-family: 'Roboto', sans-serif;
}

#app {
  width: fit-content;
  margin: 52px auto;
}

header {
  text-align: center;
  margin-bottom: 63px;
}

#cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
   padding: 32px 23px;
   text-align: center;
   background-color: #1D1C19;
   border-radius: 6px;
   border-bottom: 2px solid #f7dd43;
   width: 270px;
}

.card h2 {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  width: fit-content;
  color: #F7DD43;
  padding: 8px 16px;
  border: 1px solid #746615; 
  border-radius: 6px;
  margin-inline: auto;
  margin-bottom: 53px;
}

.card h2 span {
  color: #E1E1E6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 2px solid #323238;
}

.card ul li strong {
  color: #E1E1E6;
  font-weight: 900;
  font-size: 30px;
  line-height: 125%;
}




